.building-main-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 200px;
}

.building-bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.building-dark-layer {
  background-color: #fcca0b;
  z-index: 1;
}

.building-white-layer {
  background-color: #181818;
  z-index: 2;
}

.building-content-wrapper {
  position: relative;
  z-index: 5;
  max-width: 64rem;
  margin: 0 auto;
}

.building-header-block {
  padding: 2rem;
  text-align: center;
  color: #181818;
}

.building-header-block h1 {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #181818;
}

.building-header-block p {
  font-size: 1.125rem;
  color: #181818;
}

.building-content-segment {
  padding: 3rem;
  border-bottom: 1px solid #181818;
}

.building-content-segment h2 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #181818;
  text-align: center;
}

.building-content-segment p {
  margin-bottom: 0.5rem;
  color: #181818;
}

.building-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.building-card {
  background-color: #222222;
  padding: 1.5rem;
  border-radius: 8px;
  color: #fcca0b;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: ease 0.3s;
}

.building-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.building-card h3 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  color: #fcca0b;
}

.building-card p {
  color: #ffffff;
}

.building-project-card {
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  background-color: #222222;
  border-radius: 8px;
  color: #fcca0b;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: ease 0.3s;
}
.building-project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.building-project-card h3 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  color: #fcca0b;
}

.building-project-card p {
  color: #ffffff;
}

@media (max-width: 768px) {
  .building-profile-section {
    flex-direction: column;
    text-align: center;
  }

  .building-header-block h1 {
    font-size: 4rem;
  }

  .building-cards-container {
    grid-template-columns: 1fr;
  }
}

.quotes {
  font-size: 1.2rem;
}
