@font-face {
  font-family: "Helvetica";
  src: url("/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
}

/* THE MOST USEFUL FONTSIZE TRICK I'VE EVER SEEN */
/* https://www.stefanjudis.com/today-i-learned/viewport-units-for-font-sizes-destroy-zooming/ */

.name-title {
  font-family: "Helvetica", sans-serif;
  font-size: calc(7vw + 7em);
  width: 78.5vw;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out,
    transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  margin: 0;
  padding-left: 10px;
  color: #1e1e1e;
}

.name-title.visible {
  opacity: 1;
  transform: translateY(0);
}

.name-subtitle {
  font-family: "Helvetica", sans-serif;
  color: #2b359f;
  font-size: calc(2vw + 2em);
  width: 78.5vw;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.8s ease-out,
    transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  margin: 0;
  padding-left: 20px;
}

.name-subtitle.visible {
  opacity: 1;
  transform: translateY(0);
}
