.llm-navbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  width: 200px;
  pointer-events: none;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 20px;
}

.llm-navbar-svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.llm-navbar-node {
  position: absolute;
  pointer-events: auto;
  z-index: 10;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease-out,
    transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.llm-navbar-node.visible {
  opacity: 1;
  transform: scale(1.5);
}

.llm-navbar-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  position: relative;
  color: rgb(0, 0, 0);
  background-color: #e6e6e6;
  border: none;
  cursor: pointer;
  scale: 0.8;
  box-shadow: 0px 0px 5px #999999;
}

.llm-navbar-button:hover {
  background-color: #d0410a;
  color: white;
  transform: scale(1.5);
}

.llm-navbar-button.active {
  background-color: #d0410a;
  color: rgb(255, 255, 255);
  transform: scale(1.3);
}

.llm-navbar-number {
  font-size: 0.75rem;
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
}

.llm-navbar-label {
  position: absolute;
  right: 56px;
  /* needs to be a bit lighter than the other greys in order to match visually */
  background-color: #323232;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  opacity: 0;
  transition: opacity 0.2s ease;
  white-space: nowrap;
  pointer-events: none;
  font-family: "Helvetica", sans-serif;
}

.llm-navbar-button:hover .llm-navbar-label {
  opacity: 1;
}

/* SVG Line Animation */
.llm-navbar-line {
  opacity: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: opacity 0.5s ease-in-out, stroke-dashoffset 1.5s ease-in-out;
}

.llm-navbar-line.visible {
  opacity: 1;
  stroke-dashoffset: 0;
}
