.network-container {
  width: 100%;
  height: 300px;
  min-height: 200px;
  position: relative;
  overflow: visible;
  /* background: radial-gradient(ellipse at center, #102049 0%, #090c2b 100%); */
}

.network-canvas {
  width: 100%;
  height: 100%;
}

/* Cursor styles */
.cursor-pointer {
  cursor: pointer !important;
}
